.nav-sidebar{
	background-color: #dedede;
	margin-left: 0;
}
.form-horizontal .control-label {
	text-align:left;
}
#div_submit{
    text-align:center;
    margin-top: 2em;
}
h3 {
    text-align: left;
    padding-bottom: 1em;
}
footer{
	background-color: #333876;
	color: #ffff00;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
  background-color: #f1f1f3;
}

html {
	position: relative;
	min-height: 100%;
}
.main{
	padding-bottom: 60px;
}

body {
	margin: 0 0 60px;
}